body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
}

header {
  background-color: #000;
  color: white;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header h1 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the navigation links */
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  position: relative;
  cursor: pointer;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 8px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
  opacity: 1;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3em 0; /* 상단과 하단 여백을 더 크게 설정 */
}

.representative-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 1.5em; /* 내부 padding 조정 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* max-width 조정 */
  margin: 2em auto; /* 수평 중앙 정렬 */
}

.representative-header {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

.representative-content {
  font-size: 1.1em;
  line-height: 1.6em;
  text-align: center;
}

.representative-content p {
  margin: 0.5em 0;
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  position: fixed; /* 페이지 아래 고정 */
  bottom: 0;
  left: 0;
  right: 0;
}

