body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
header {
  background-color: #000000;
  color: white;
  padding: 1em 0;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 1.5em;
}
header h1 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 8px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
nav ul li a:hover::after,
nav ul li a:focus::after {
  opacity: 1;
}
section {
  margin: 2em;
  display: none;
}
footer {
  text-align: center;
  padding: 1em 0;
  background-color: #000000;
  color: white;
}
.banner {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.banner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 8px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.banner:hover::after {
  opacity: 1;
}
.sub-banner {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  display: none;
  border-top: 1px solid #333;
  position: relative;
}
.sub-banner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 8px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sub-banner.active {
  display: block;
}
.sub-banner:hover::after {
  opacity: 1;
}
.sub-banner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.sub-banner ul li {
  margin: 0 1em;
}
.sub-banner ul li a {
  color: white;
  text-decoration: none;
  padding: 0.3em 1em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.sub-banner ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 8px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sub-banner ul li a:hover::after {
  opacity: 1;
}
.video-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.video-popup-content {
  position: relative;
  max-width: 800px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  color: black;
}
.close-button {
  position: fixed;
  top: 10px;
  right: 30px;
  cursor: pointer;
  color: white;
  font-size: 2.5em;
  background: none;
  border: none;
  outline: none;
  z-index: 1001;
}
.close-button::before {
  content: '×';
}
.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  z-index: 1000;
  display: none;
  border: 2px solid gold;
}
.custom-alert-content {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-alert .close-button {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
}
.custom-alert .close-button::before {
  content: '×';
}
.representative-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  max-width: 800px;
  margin: auto;
}
.representative-header {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  color: #ffffff;
}
.representative-content {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #ffffff;
  text-align: center;
}
.representative-content p {
  margin: 0.5em 0;
}


